body{
    background-color: bisque ;
}
.logo{
    margin: auto;
    height: 100px;
    width: 100px;
    background:url("../thing/diugai.com162322863666714.png");
    background-size:100% 100%;
}
.container{
    border-radius: 5px;
    background-color: #8a9eb3;
    position: relative;
    height: 350px;
    width: 350px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: #666 0px 0px 10px ;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
}
.username{
    margin-left: 30px;
}
.password{
    margin-left: 30px;
}
.password1{
    margin-left: 30px;
    height: 100px;
}
#username{
    width: 250px;
    background:rgba(45,45,45,0.15);
    border-radius: 5px;
    border:1px solid gray;
    font-size: 20px;

}
#password{
    width: 250px;
    background:rgba(45,45,45,0.15);
    border-radius: 5px;
    border:1px solid gray;
    font-size: 20px;
}
#password1{
    width: 250px;
    background:rgba(45,45,45,0.15);
    border-radius: 5px;
    border:1px solid gray;
    font-size:20px;
}

.button{
    margin-left: 40px;
}
button{
    font-size: x-large;
    border-radius: 10px;
}
