
.container{
    background-color: #fff;
    position: relative;
    height: 350px;
    width: 400px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: #666 0px 0px 10px ;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
}
#username{
    background:rgba(45,45,45,0.15);
    border-color: rgba(45,45,45,0.15);
    border-radius: 5px;
    border:1px solid gray;
    font-size: xx-large;
}
#password{
    background:rgba(45,45,45,0.15);
    border-color: rgba(45,45,45,0.15);
    border-radius: 5px;
    border:1px solid gray;
    font-size: xx-large;
}
div{
    border:solid 1px red;
}
button{
    color: white;
    background-color:#007bff;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: x-large;
}