



div.container{

    height: 300px;
    width: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div.name{
    margin: auto;
    height: 50px;
    width: 250px;
}

div.username {
    margin-left: 10px;
    height: 100px;
}
div.password{
    margin-left: 10px;
    height: 100px;
}
div.button{
    height: 50px;
    margin-left: 20%;
}
div.create{

    margin-left: 40% ;
}

body::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent url(../thing/海.png) center center no-repeat;
    filter:blur(5px);
    z-index:-1;
    background-size:cover;

}



#username{
    background:rgba(45,45,45,0.15);
    border-color: rgba(45,45,45,0.15);
    border-radius: 5px;
    border:1px solid gray;
    font-size: xx-large;
}
#password{
    background:rgba(45,45,45,0.15);
    border-color: rgba(45,45,45,0.15);
    border-radius: 5px;
    border:1px solid gray;
    font-size: xx-large;
}
input::-webkit-input-placeholder {
    color: rgba(0,0,0,0.32);<!-- input框内提示字体默认颜色 -->
}
button{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: x-large;
}
